<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9f99ea">  <td>21/01/13 09:04:34</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:com.TestCases.TC_Way2TestCases@5cb9f472]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1383547042</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>21/01/13 09:04:44</td>   <td>9600</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_Way2TestCases.test1()[pri:0, instance:com.TestCases.TC_Way2TestCases@5cb9f472]">test1</td> 
  <td>main@1383547042</td>   <td></td> </tr>
<tr bgcolor="9f99ea">  <td>21/01/13 09:04:59</td>   <td>24507</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.TestCases.TC_Way2TestCases@5cb9f472]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1383547042</td>   <td></td> </tr>
</table>
